html, body {
    /* border: solid green; */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 120);
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.page {
    /* border: solid red; */
    height: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

header {
    /* border: solid blue; */
    height: 70px;
    width: 100%;
    padding: 0;
    background-color: #c58232
}

header img {
    /* border: solid blue; */
    float: left;
    width: 13%;
    margin-top: 12px;
    margin-left: 20px;
}

#banner {
    /* border: solid yellow; */
    width: 42%;
    float: left;
    margin-top: 2px;
}

#banner h1 a{
    /* border: solid rgb(138, 238, 91); */
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 14px;
    margin-right: 10px;
    margin-bottom: 9px;
    float: right;
}

nav {
    /* border: 2px solid rgb(255, 0, 212); */
    float: right;
    width: 56%;
    margin-top: 15px;
    margin-right: 8px;
}

nav ul {
    margin: 0;
    padding-top: 10px;
    list-style: none;
}

nav ul li {
    /* border: solid black; */
    float: left;
    width: 95px;
    height: 40px;
    text-align: center;
    padding-left: 10px;
}

.fa-caret-down {
    color: white;
}

nav ul li a {
    /* border: solid black; */
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #c58232;
    opacity: .8;
}

nav ul li ul li {
    display: none;
    font-size: 12px;
    padding-top: 12px;
    width: 110px;
    float: right;
}

ul li:hover ul li {
    background-color: #c58232;
    display: block;
    opacity: .8;
}

#temporary_body_filler {
    margin: 0;
    padding: 0;
    height: 600px;
}

footer {
    /* border: solid rgb(51, 228, 104); */
    width: 100%;
    background-color: rgb(1, 1, 120);
    color: white;
    margin: 0;
    text-align: center;
}

#footer-left {
    /* border: solid rgb(233, 64, 64); */
    margin-top: 25px;
    padding: 0;
    width: 49%;
    float: left;
}

#footer-left ul {
    list-style: none;
}

#footer-left ul li {
    display: inline-block;
    margin: 5px;
}

#footer-left ul li a {
    /* border: solid #ffffff; */
    text-decoration: none;
    color: black;
    border-radius: 50%;
    padding: 5px;
    background-color: #ffffff;
}

#footer-right {
    /* border: solid rgb(35, 55, 236); */
    margin-top: 25px;
    padding: 0;
    width: 50%;
    height: 43px;
    float: right;
}

#footer-right p {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

#footer-right p a {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    color: #c58232;
}

#footer-bottom {
    clear: both;
}

#DS_Web_Link {
    color: white;
    text-decoration: none;
}

/* *********************** */
/* People Page Starts Here*/

#main_people {
    /* border: solid red; */
    border-width: 10px;
    height: 1000px;
    width: 100%;
    margin: 10px;
    padding: 0;
}

#section_people_profiles {
    /* border: solid orange; */
    border-width: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    /* background-color: gray; */
}

#content_people_mentees {
    /* border: solid yellow; */
    border-width: 10px;
    height: 30px;
    width: 100%;
    color: white;
    background-color: rgb(1, 1, 120);
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

#profile_people_mentees {
    /* border: solid green; */
    border-width: 10px;
    /* background-color: orange; */
    margin-top: 13px;
    margin-left: -8px;
    padding: 0;    
    height: 350px;
    width: 100%;
}

.row_mentee {
    /* border: solid black; */
    /* border-width: 1px; */
    padding: 1px 2px;
    float: left;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}





/* *********************** */
/* About Page Starts Here*/

#main_about {
    /* border: solid rgb(111, 38, 129); */
    height: 1900px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#section_what_we_offer {
    /* border: solid rgb(224, 54, 54); */
    margin: 0;
    padding: 0;
    height: 550px;
}

#content_what_we_offer {
    /* border: solid rgb(117, 219, 96); */
    display: inline-block;
    height: auto;
    width: 60%;
    margin-left: 5%;
    margin-top: 2%;
}

#what_we_offer {
    /* border: solid orangered; */
    margin: 3%;
    padding: 10px;
    height: auto;
    max-width: 100%;
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

#what_we_offer h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#what_we_offer blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}

#what_we_offer_img {
    /* border: solid red; */
    height: 464px;
    width: 350px;
    float: right;
    margin: 3%;
}

#section_who_we_are {
    /* border: solid rgb(224, 54, 54); */
    margin-top: 5%;
    padding: 0;
    height: 650px;
}

#content_who_we_are {
    /* border: solid rgb(117, 219, 96); */
    display: inline-block;
    height: auto;
    width: 60%;
    margin-right: 5%;
    margin-top: 2%;
}

#who_we_are {
    /* border: solid orangered; */
    margin: 3%;
    padding: 10px;
    height: auto;
    max-width: 100%;
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

#who_we_are h1 {
    /* border: solid white; */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#who_we_are p {
    /* border: solid red; */
    width: 475px;
    font-size: 15px;
    line-height: 1.6;
    margin-left: 20%;
}

#who_we_are_img {
    /* border: solid white; */
    height: 550px;
    width: 350px;
    float: left;
    margin: 3%;

}

#section_mission_statement {
    /* border: solid red; */
    height: 600px;
    /* width: 100%; */
    margin-top: 1%;
    /* background-color: rgb(92, 56, 56); */
}

#content_mission_statement {
    /* border: solid black; */
    height: 400px;
    width: 800px;
    margin: 2% auto;
    /* background-color: rgb(74, 74, 182); */
}

#border_mission_statement {
    border: solid white;
    border-width: 2px;
    height: 320px;
    width: 780px;
    margin: 5% auto;
    /* background-color: red; */
    /* float: left; */
    /* opacity: .8; */
    z-index: -1;
}

#mission_statement_header {
    /* border: solid black; */
    height: 60px;
    width: 60%;
    margin: -385px auto;
    /* background-color: gray; */
    background-color: rgb(1, 1, 120);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    z-index: 1; 
}

#content_mission_statement p {
    /* border: solid red; */
    width: 475px;
    font-size: 15px;
    line-height: 1.6;
    margin: 400px auto;
    /* margin-top: 20%; */
    /* margin-left: 20%; */
    color: white;
}
